<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBroker" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/SymposionBroker/BrokerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroker"
                contract="ServiceReferenceBroker.IBroker" name="BasicHttpBinding_IBroker" />
        </client>
    </system.serviceModel>
</configuration>