<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Quando si distribuisce il progetto della libreria di servizi, è necessario aggiungere il contenuto del file di configurazione al file 
  app.config dell'host. System.Configuration non supporta i file di configurazione delle librerie. -->
  <system.serviceModel>
    <services>
      <service name="SymposionBrokerLib.BrokerService">
        <endpoint address="" binding="basicHttpBinding" contract="SymposionBrokerLib.IBroker">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/SymposionBroker/BrokerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Per evitare la diffusione di informazioni sui metadati, 
          impostare i valori seguenti su false prima della distribuzione -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Per ricevere i dettagli sull'eccezione per scopi di debug in caso di guasti, 
          impostare il valore riportato sotto su true. Impostarlo su false prima della diffusione 
          per evitare di diffondere informazioni sull'eccezione -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
