<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAmministratore" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8003/SymposionAmministratore/AmministratoreService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAmministratore"
                contract="IAmministratore" name="BasicHttpBinding_IAmministratore" />
        </client>
    </system.serviceModel>
</configuration>